{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah Matkul</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="container" style="color: white">
        <form method="POST" class="form-group">
            {%  csrf_token %}
            <table>
                {{data_form.as_table}}
            </table>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>