{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="container" style="width: 75%">
        <h1 style="text-align: center; color: white"> Mata Kuliah: {{ detail.nameMatkul }}</h1>
        <table class="table table-dark table-striped" >
            <tr><td>Nama Mata Kuliah</td><td>{{ detail.nameMatkul }}</td></tr>
            <tr><td>Dosen Pengajar</td><td>{{ detail.teacher }}</td></tr>
            <tr><td>Jumlah SKS</td><td>{{ detail.sks }}</td></tr>
            <tr><td>Deskripsi mata kuliah</td><td>{{ detail.desc }}</td></tr>
            <tr><td>Tahun Semester</td><td>{{ detail.term }}</td></tr>
            <tr><td>Ruang Kelas</td><td>{{ detail.classs }}</td></tr>
        </table>
        <a href="{% url 'matkul:home' %}"><button type="button" class="btn btn-warning">Kembali</button></a>
    </div>
</body>
</html>