{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hapus Matkul</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="container" style="width: 75%">
        <h1 style="text-align: center; color: white"> List Mata Kuliah</h1>
        <div style="overflow-y: auto">
            <table class="table table-dark table-striped">
        <thead class="thead-dark">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Mata Kuliah</th>
              <th scope="col">Control</th>
            </tr>
          </thead>
          <tbody>
          {% for matkul in list_matkul %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ matkul.nameMatkul }}</td>
              <td><a href="{% url 'matkul:delete' matkul.id %}"><button type="button" class="btn btn-danger">Hapus</button></a></td>
            </tr>
        {% endfor %}
          </tbody>
    </table>
        </div>
    <a href="{% url 'matkul:home' %}"><button type="button" class="btn btn-warning">Selesai</button></a>
    </div>
</body>
</html>