{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      {% include 'base.html' %}
      <div class="fixed-intro font" id="font-intro">
          <div>
              <p>Hallo nama saya</p>
              <p><span id="firstname">Mochammad</span> <span id="lastname">Naufal Rizki</span></p>
              <p>Welcome to my Website :)</p>
          </div>
          <div>
              <img class="profile" src="{% static "svg/profile.svg" %}" id="img-profile-home">
          </div>
          <div>
              <a href="/profile"><button type="button" class="btn btn-primary">Profile</button></a>
              <a href="/myself"><button type="button" class="btn btn-primary">My Self</button></a>
          </div>
      </div>
    </body>
</html>