{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story 1</title>
</head>
<body class = font>
    {% include 'base.html' %}
    <center>
        <h1>Profil Saya</h1>
        <img src="{% static "img/profile.jpg" %}" alt="" height="301" width="200" class="center">
        <table border="1" >
            <p></p>
            <tr><td>Nama :</td><td>Mochammad Naufal Rizki</td></tr>
            <tr><td>NPM :</td><td>1906299010</td></tr>
            <tr><td>Angkatan :</td><td>2019</td></tr>
            <tr><td>Hobi :</td><td>Bermain gim, baca komik</td></tr>
            <tr><td>Deskripsi Tentang Saya :</td><td>Saya orangnya agak cuek terhadap lingkungan sekitar</td></tr>
            <tr><td>Tempat Kuliah :</td><td>Universitas Indonesia</td></tr>
            <tr>
                <td rowspan="3">Riwayat Pendidikan :</td>
                <td>SD : SDN 1 Pasirhalang</td>
            </tr>
            <tr><td>SMP : SMPN 1 Sukaraja</td>
            <tr><td>SMA : SMAN 1 Sukabumi</td>
            <tr>
                <td rowspan="2">Sosial Media :</td>
                <td>Line : naxtamvan69</td>
            </tr>
            <tr><td>WA : 085155100326</td>
        </table>
    </center>
</body>
</html>