{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Myself</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="font fixmyself" id="font-intro">
        <img class="profile" id="img-profile-myself" src="{% static "svg/profile.svg" %}">
        <img class="garis" src="{% static "svg/a - ms.svg" %}">
	    <div class="mydesc">
            <p>Halo, saya Mochammad Naufal Rizki  biasa dipanggil naufal.
                Saya merupakan seorang mahasiswa Fasilkom Universitas Indonesia.
                Saya memiliki kegemaran bermain game, baca komik dan membaca isu-isu mengenai perkembangan teknologi.
                Saya merupakan seorang yang telaten dan selalu fokus terhadap suatu pekerjaan yang masih belum selesai.
                Saya memiliki ambisi menjadi orang yang ahli di bidang IT dan bisa menciptakan suatu aplikasi
                yang sangat berguna bagi masyarakat.</p>
        </div>
    </div>
</body>
</html>



