{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
     {% include 'base.html' %}
    <div class="fixed-profile font">
        <h1 id="h1" style="text-align: center">Profil Saya</h1>
        <img class="profile" id="img-profile-profile" src="{% static "svg/profile.svg"%}">
        <div class="bio" id="font-profile">
            <img class="kotak" src="{% static "svg/kotak.svg" %}">
            <div class="q">
                <p>Nama</p> <p>Tempat, Tanggal Lahir</p> <p>NPM</p> <p>Angkatan</p> <p>Hobi</p>
                <p>Riwayat Penddidikan</p> <p><br></p> <p>Sosial Media</p>
            </div>
            <div class="eq">
                <p>:</p><p>:</p><p>:</p><p>:</p><p>:</p><p>:</p> <p><br></p><p>:</p>
            </div>
            <div class="ans">
                <p>Mochammad Naufal Rizki</p>
                <p>Sukabumi, 05 April 2001</p>
                <p>1906299010</p>
                <p>2019</p>
                <p>Bermain Game, Baca Komik</p>
                <p>SDN 1 Pasirhalang</p>
                <p>SMPN 1 Sukaraja</p>
                <p>SMAN 1 Sukabumi</p>
                <p>085155100326</p>
                <p>naxtamvan69</p>
            </div>
        </div>
    </div>
</body>
</html>