body {
    background-color: #1f1e1e;
}

.bg-light {
    background-color: #3c3c3c!important;
}

navbar {
    position: fixed;
}

div.fixed-intro {
    position: absolute;
    width: 700px;
    height: 230px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.font {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    color: white;
}

#font-intro {
    font-size: 40px;
    line-height: 35px;
    float: left;
}

#firstname {
    font-family: "Rajdhani", serif;
    font-style: normal;
    font-weight: bolder;
    color: #64d3f5;
}

#lastname {
    font-family: "Rajdhani", serif;
    font-style: normal;
    font-weight: bolder;
    color: #fe6a60;
}

img.profile{
    position: absolute;
    width: 150px;
    height: 175px;
    box-sizing: border-box;
}

.btn {
    padding: 0.3rem 2.9rem;
    border: 1px solid transparent;
}

div.mydesc {
    position: absolute;
    width: 450px;
    height: 225px;
    font-size: 20px;
    top: 50px;
    left: 350px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
}

div.fixmyself {
    position: absolute;
    width: 900px;
    height: 350px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#img-profile-home {
    left: 75%;
    top: 5%
}

#img-profile-myself {
    top: 60px;
}

img.garis {
    position: absolute;
    width: 10px;
    height: 380px;
    left: 260px;
}

div.fixed-profile {
    position: absolute;
    width: 800px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#img-profile-profile {
    left: 320px
}

div.bio {
    position: absolute;
    width: 750px;
    height: 200px;
    left: 20px;
    top: 220px;
}

div.q {
    position: absolute;
    width: 175px;
    height: 270px;
    left: 150px;
    top: 10px;
}

div.eq{
    position: absolute;
    width: 15px;
    height: 270px;
    left: 325px;
    top: 10px;
}

div.ans{
    position: absolute;
    width: 300px;
    height: 270px;
    left: 350px;
    top: 10px;
}

img.kotak {
    position: absolute;
    width: 750px;
    height: 270px;
}

#font-profile{
    font-size: 15px;
    line-height: 10px;
    font-family: "Gentium Book Basic";
    font-weight: bolder;
}

#h1 {
        font-size: 30px;
    }

@media (max-width: 720px) {
    div.fixed-intro {
        width: 350px;
        height: 350px;
        margin: auto;
        left: 8%;
        right: 8%;
        top: 100px;
        float: left;
        overflow: auto;
    }

    #font-intro {
        font-size: 20px;
        line-height: 20px;
        float: left;
        text-align: center;
    }

    #img-profile-home {
        position: relative;
        left: 0;
        top: 0;
    }
    .btn {
        margin-bottom: 15px;
    }
    div.fixmyself {
        width: 350px;
        height: 500px;
        margin: auto;
        left: 8%;
        right: 8%;
        top: 100px;
        position: relative;
        overflow: auto;
    }
    #img-profile-myself{
        top:0px;
        left: 100px;
    }
    img.garis {
        position: absolute;
        width: 10px;
        height: 380px;
        left: 260px;
    }
    div.mydesc {
        position: absolute;
        width: 300px;
        height: 100px;
        font-size: 14px;
        top: 200px;
        left: 25px;
        line-height: 25px;
        text-align: justify;
        text-justify: inter-word;
    }
    img.garis {
        position: absolute;
        width: 10px;
        height: 325px;
        left: 165px;
        top: 15px;
        rotation: 90deg;
        transform: rotate(90deg);
    }

    div.fixed-profile {
        width: 350px;
        height: 500px;
        margin: auto;
        left: 0;
        right: 0;
        top: 100px;
        position: relative;
        overflow: auto;
    }
     #img-profile-profile {
         top: 0;
         left: 0;
     }

}