{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tambah Peserta</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="container" style="color: white">
        <div class= "font" style="text-align: center; margin-bottom: 50px"><h1 style="margin-top: 10px">Tambah Peserta</h1></div>
        <form method="POST" class="form-group">
            {%  csrf_token %}
            <table>
                {{human_form.as_table}}
            </table>
            <button class= "btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>