{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ kegiatan.name_kegiatan }}</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="container" style="width: 75%">
        <h1 style="text-align: center; color: white"> Nama Kegiatan: {{ kegiatan.name_kegiatan }}</h1>
        <table class="table table-dark table-striped" >
            <tr><td>Deskripsi</td><td>{{ kegiatan.description }}</td></tr>
            <tr><td>Peserta</td>
                <td><ul class="list-group">
                    {% for human in humans %}
                        <li class="list-group-item" style="border: 0px; background-color: #fff0"> {{ human.name_human }} </li>
                    {% endfor %}</ul></td>
            </tr>
        </table>
        <a href="{% url 'kegiatan:home' %}"><button type="button" class="btn btn-warning">Kembali</button></a>
    </div>
</body>
</html>