{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Kegiatan</title>
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <div class= "font" style="text-align: center; margin-bottom: 50px"><h1 style="margin-top: 10px">List Kegiatan</h1></div>
        <div class="row" style="margin-bottom: 20px">
            <div class="card-deck">
            {% for activity in kegiatan %}
            <div class="col-sm-5 col-md-4 mb-2">
                <div class="card">
                  <img class="card-img-top" src="{{  activity.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ activity.name_kegiatan }}</h5>
                    <p class="card-text">{{ activity.description }}</p>
                    <a href="{% url 'kegiatan:detailed' activity.id %}" class="btn btn-primary" style="">detail</a>
                  </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'kegiatan:addhuman' %}"><button type="button" class="btn btn-danger" style="margin-bottom: 5px">Kuy Join</button></a>
            </div>
        </div>
    </div>
</body>
</html>